UPRAVA_DOMAIN=uprava.zrya.io

UPRAVA_CORE_IMAGE=uprava-core:local
UPRAVA_WEB_IMAGE=uprava-web:local
UPRAVA_GENERATED_UI_BUILDER_IMAGE=uprava-generated-ui-builder:local

UPRAVA_DATABASE_URL=sqlite:///data/core.sqlite
UPRAVA_DEPLOYMENT_PROFILE=controlled_dev
UPRAVA_ALLOWED_ORIGINS=https://uprava.zrya.io
UPRAVA_COOKIE_SECURE=true
UPRAVA_CLIENT_LOG_FILE=/data/client.log
UPRAVA_CORE_LOG_FILE=/data/core.log
UPRAVA_CORE_RUST_LOG=info
